@import url('https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Thasadith:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overlock+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Solway:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:700&display=swap');

.App {
  text-align: center;
  /* background: url('https://images.unsplash.com/photo-1538402074774-8e624f3f7e5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  background-position: center;
  background-repeat: repeat-y;
  background-position: right top; */
}

/* adds padding and margin to main container */
.main-container {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 80px;
  padding-bottom: 50px;
}

#name1 {
  font-size: 72px;
  font-family: 'Jacques Francois Shadow', cursive;
  font-weight: normal;
}

#name2 {
  font-size: 72px;
  font-family: 'Fredericka the Great', cursive;
  font-weight: normal;
}

#name3 {
  font-size: 72px;
  font-family: 'Londrina Shadow', cursive;
  font-weight: normal;
}

#name4 {
  font-size: 72px;
  font-family: 'Thasadith', sans-serif;
  font-weight: normal;
}

#name5 {
  font-size: 72px;
  font-family: 'Overlock SC', cursive;
  font-weight: normal;
}

#name6 {
  font-size: 72px;
  font-family: 'Boogaloo', cursive;
  font-weight: normal;
}

#name7 {
  font-size: 72px;
  font-family: 'Solway', serif;
  font-weight: normal;
}

#name8 {
  font-size: 72px;
  font-family: 'Merriweather', serif;
  font-weight: normal;
}

#name9 {
  font-size: 72px;
}

/* sets icons to match color scheme */
svg, i {
  color: rgba(0,0,0,.87);
}

/* increases font size for headings */
.heading {
  font-size: 36px;
}

/* increases font size for paragraphs */
p {
  font-size: 18px;
}

p a {
  text-decoration: underline;
}

/* sets resume container to full width and view height */
#resume {
  width: 100%;
  height: 100vh;
}

/* removes border from all iframes */
iframe {
  border: none;
}

/* sets width of images of different sizes */
.photo-xs {
  width: 15%;
}

.photo-small {
  width: 20%;
}

.photo-medium {
  width: 35%;
}

.photo-large {
  width: 75%;
}

.icons {
  text-align: left;
  margin: auto;
  width: fit-content;
}

/* sets mobile hamburger menu icon to not display on desktop */
#menu {
  display: none;
}

#menu a {
  justify-content: left;
  padding-left: 20px;
}

#menu i {
  color: white;
  padding-left: 20px;
}

/* when menu starts to stack */
@media only screen and (max-width: 767px) {
  /* hide menu and add margin */
  .ui.black.large.inverted.stackable.top.fixed.seven.item.menu {
    display: none;
    margin-top: 43px;
  }

  /* show mobile hamburger menu icon */
  #menu {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  /* reshow full menu on resize of window */
  .ui.black.large.inverted.stackable.top.fixed.seven.item.menu {
    display: flex!important;
  }
}

/* https://codepen.io/MaryG/pen/wJMMdw */
.notes {
  display: block;
  margin: auto;
  position: relative;
  width: 50%;
  min-width: 300px;
  height: 200px;
  border: 0px solid #000;
}

.note-1,
.note-2,
.note-3,
.note-4 {
  position: absolute;
  animation: notes 2s infinite linear;
  font-size: 35px;
  opacity: 0;
}

.note-1 {
  top: 60px;
  left: 0;
  animation-delay: 0.5s;
}

.note-2 {
  top: 30px;
  left: 30%;
  animation-delay: 1s;
}

.note-3 {
  top: 90px;
  left: 60%;
  animation-delay: 1.5s;
}

.note-4 {
  top: 40px;
  left: 90%;
  animation-delay: 2s;
}

@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}